img {
  height: 80vh;
  width: 100%;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: -0.75em;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  font-weight: normal;
  margin-bottom: -0.75em;
  text-align: center;
}
