.h1-staff {
  margin-bottom: 3em;
  text-decoration: underline;
}

.box-img {
  height: 300px;
  width: 300px;
}

.staff-boxes {
  column-count: 3;
  max-width: 100%;
}

.staff-box {
  max-width: 100%;
  text-align: center;
}

.name {
  font-size: 1.75em;
  font-weight: normal;
  margin-bottom: -1em;
  text-transform: uppercase;
}

.title {
  font-size: 1.35em;
  font-weight: normal;
  margin-bottom: 3em;
  text-transform: uppercase;
}
