

.logo-cont {
  display: flex;
  justify-content: center;
}

.logo-cont img {
  height: 200px;
  width: 280px;
}

.nav-ul {
  display: flex;
  float: right;
  font-size: 2em;
  justify-content: space-around;
  list-style-type: none;
  text-transform: uppercase;
  width: 100%;
}

.nav-ul li {
  margin: -1em 1.25em 1.25em 1.25em;
  width: 100%;
}

.nav-ul a {
  color: black;
}

.nav-ul a:hover {
  color: blue;
}
