.nav {
  background-color: orange;
}

.logo-cont {
  display: flex;
  justify-content: center;
}

.logo-cont img {
  height: 250px;
  width: 280px;
}

.nav-ul {
  background-color: turquoise;
  display: flex;
  float: right;
  font-size: 1.35em;
  list-style-type: none;
  width: 100%;
}

.nav-ul li {
  margin: 1.25em;
  width: 100%;
}
